.container, .container-fluid
{
  padding-top: 0%;
  padding-bottom: 0%;
}
main {
  display: flex;
  justify-content: center; 
  align-items: stretch;
  background-color: #424242e8;
  max-height: 100%;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#text-area, #bitmap-area {
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: #ffffffad;
}
#canvas-area {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #8b8b8b;
  transform: scale(0.92) translateY(-20px);
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  height: 25px;
}
button{
  padding-top: 2px;
  padding-bottom: 2px;
}

