main {
  display: flex;
  justify-content: center; 
  /* justify-content: space-evenly */
  background-color: #27a7f6a4;
}

#text-area {
  /* flex-grow: 1; */
  margin: 10px;
  background-color: #dee5ecf3;
}

#canvas-area {
  /* flex-grow: 2; */
  margin: 10px;
  background-color: #dee5ecf3;
}

#bitmap-area {
  margin: 10px;
  background-color: #dee5ecf3;
}
